In [1]:
import pandas as pd
import numpy as np
import sklearn

In [ ]:
# Read the data
def read_data(file_path):
    return pd.read_csv(file_path)
demo = read_data('/mnt/data/demo.csv')
vitals = read_data('/mnt/data/vitals.csv')
labs = read_data('/mnt/data/labs.csv')

In [3]:
path=""
demographic_train = pd.read_csv(path+'Train/demographics.csv')
labs_train = pd.read_csv(path+'Train/labs.csv')
vitals_train = pd.read_csv(path+'Train/vitals.csv')

In [4]:
demographic_test = pd.read_csv(path+'Test/demographics.csv')
labs_test = pd.read_csv(path+'Test/labs.csv')
vitals_test = pd.read_csv(path+'Test/vitals.csv')

In [12]:
sample_demographic_train = demographic_train.sample(frac=0.1)
sample_labs_train = labs_train.sample(frac=0.1)
sample_vitals_train = vitals_train.sample(frac=0.1)

Object `sample` not found.

In [13]:
#EDA

#remove weight column
def demographic_process(df):
    return df.drop('weight', axis=1)

# remove unit of measure in labs and vitals, the unit of measure shouldn't have any predict power
def labs_process(df):
    return df.drop('Unit of Measure', axis=1)

# It's the same function as labs_process, repeat for conformidity
def vitals_process(df):
    return df.drop('Unit of Measure', axis=1)

In [50]:
sample_demographic_train = demographic_process(sample_demographic_train)
sample_labs_train = labs_process(sample_labs_train)
sample_vitals_train = vitals_process(sample_vitals_train)

KeyError: "['weight'] not found in axis"

In [15]:
print(sample_vitals_train)

         patient_id              Vital  Min Value  Max Value  \
780536        82885  sysbp_noninvasive       80.0      112.0
870207        92144              sysbp      111.0      121.0
316035        33666             diasbp       59.0       59.0
761677        80853               spo2       93.0       98.0
906566        96032          heartrate       84.0       88.0
...             ...                ...        ...        ...
1064808      112758          heartrate       50.0       61.0
106211        11340             diasbp       58.0       92.0
131722        14111  sysbp_noninvasive       69.0      220.0
645447        68511           resprate       12.0       31.0
439503        46812                mbp       54.0      118.0

        Time of Measure (First Day or First Hour of Stay)
780536                                                day
870207                                               hour
316035                                               hour
761677                                                day
906566                                               hour
...                                                   ...
1064808                                               day
106211                                               hour
131722                                                day
645447                                                day
439503                                                day

[123733 rows x 5 columns]

In [19]:
vitals_pivoted = pivot_data(sample_vitals_train, 'patient_id', 'Vital', 'Min Value')

In [20]:
vitals_pivoted

Vital,patient_id,diasbp,diasbp_noninvasive,heartrate,mbp,mbp_noninvasive,resprate,spo2,sysbp,sysbp_noninvasive,temp
0,1,NaN,NaN,102.0,NaN,NaN,7.0,NaN,NaN,73.0,NaN
1,6,NaN,54.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,81.0,NaN
3,9,NaN,50.0,NaN,NaN,68.0,NaN,NaN,NaN,NaN,36.2
4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
55556,131040,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55557,131043,43.0,NaN,NaN,NaN,62.0,17.5,NaN,NaN,NaN,NaN
55558,131045,NaN,NaN,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55559,131048,NaN,40.0,NaN,NaN,51.0,NaN,NaN,NaN,90.0,NaN
55560,131049,48.0,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:


def pivot_data(df, index_col, columns_col, values_col, aggfunc='mean'):
    return df.pivot_table(index=index_col, columns=columns_col, values=values_col, aggfunc=aggfunc).reset_index()

def merge_dataframes(demo_df, vitals_df, labs_df, on_col='patient_id'):
    merged_df = pd.merge(demo_df, vitals_df, on=on_col, how='inner')
    merged_df = pd.merge(merged_df, labs_df, on=on_col, how='inner')
    return merged_df

In [ ]:
# Pivot the vitals and labs dataframes
vitals_pivoted = pivot_data(vitals, 'patient_id', 'Vital', 'Value')
labs_pivoted = pivot_data(labs, 'patient_id', 'Lab', 'Value')

# Merge the demo, pivoted vitals, and pivoted labs dataframes
final_df = merge_dataframes(demo, vitals_pivoted, labs_pivoted)

# The final dataframe is now stored in 'final_df'

In [22]:
vitals_train

,patient_id,Vital,Min Value,Max Value,Unit of Measure,Time of Measure (First Day or First Hour of Stay)
0,1,diasbp,49.0,108.0,Millimetres of mercury,day
1,1,diasbp,49.0,74.0,Millimetres of mercury,hour
2,1,diasbp_noninvasive,49.0,108.0,Millimetres of mercury,day
3,1,diasbp_noninvasive,49.0,74.0,Millimetres of mercury,hour
4,1,heartrate,62.0,136.0,Beats per minute,day
...,...,...,...,...,...,...
1237324,131051,sysbp,80.0,92.0,Millimetres of mercury,hour
1237325,131051,sysbp_noninvasive,80.0,129.0,Millimetres of mercury,day
1237326,131051,sysbp_noninvasive,80.0,92.0,Millimetres of mercury,hour
1237327,131051,temp,36.7,37.2,Degrees Celsius,day
1237328,131051,temp,36.7,36.8,Degrees Celsius,hour

In [49]:
vitals_train.unstack()

patient_id                                         0             1
                                                   1             1
                                                   2             1
                                                   3             1
                                                   4             1
                                                              ...
Time of Measure (First Day or First Hour of Stay)  1237324    hour
                                                   1237325     day
                                                   1237326    hour
                                                   1237327     day
                                                   1237328    hour
Length: 7423974, dtype: object

In [47]:
pivoted = vitals_train.pivot_table(index='patient_id', columns=['Vital','Time of Measure (First Day or First Hour of Stay)'], values=['Min Value','Max Value']).reset_index()

In [51]:
vitals = sample_vitals_train

In [32]:
sample_vitals_train.groupby(['patient_id','Vital','Time of Measure (First Day or First Hour of Stay)'])

In [46]:
merged = pd.merge(demographic_train, pivoted, on='patient_id')

MergeError: Not allowed to merge between different levels. (1 levels on the left, 3 on the right)

In [52]:
vitals

,patient_id,Vital,Min Value,Max Value,Time of Measure (First Day or First Hour of Stay)
780536,82885,sysbp_noninvasive,80.0,112.0,day
870207,92144,sysbp,111.0,121.0,hour
316035,33666,diasbp,59.0,59.0,hour
761677,80853,spo2,93.0,98.0,day
906566,96032,heartrate,84.0,88.0,hour
...,...,...,...,...,...
1064808,112758,heartrate,50.0,61.0,day
106211,11340,diasbp,58.0,92.0,hour
131722,14111,sysbp_noninvasive,69.0,220.0,day
645447,68511,resprate,12.0,31.0,day
439503,46812,mbp,54.0,118.0,day

In [58]:
vitals.reindex()

,patient_id,Vital,Min Value,Max Value,Time of Measure (First Day or First Hour of Stay)
780536,82885,sysbp_noninvasive,80.0,112.0,day
870207,92144,sysbp,111.0,121.0,hour
316035,33666,diasbp,59.0,59.0,hour
761677,80853,spo2,93.0,98.0,day
906566,96032,heartrate,84.0,88.0,hour
...,...,...,...,...,...
1064808,112758,heartrate,50.0,61.0,day
106211,11340,diasbp,58.0,92.0,hour
131722,14111,sysbp_noninvasive,69.0,220.0,day
645447,68511,resprate,12.0,31.0,day
439503,46812,mbp,54.0,118.0,day

In [62]:
vitals.pivot_table(values='Min Value',index='patient_id', columns=['Vital','Time of Measure (First Day or First Hour of Stay)'])

Vital                                             diasbp       \
Time of Measure (First Day or First Hour of Stay)    day hour
patient_id
1                                                    NaN  NaN
6                                                    NaN  NaN
8                                                    NaN  NaN
9                                                    NaN  NaN
10                                                   NaN  NaN
...                                                  ...  ...
131040                                               NaN  NaN
131043                                              43.0  NaN
131045                                               NaN  NaN
131048                                               NaN  NaN
131049                                              48.0  NaN

Vital                                             diasbp_noninvasive       \
Time of Measure (First Day or First Hour of Stay)                day hour
patient_id
1                                                                NaN  NaN
6                                                               54.0  NaN
8                                                                NaN  NaN
9                                                               50.0  NaN
10                                                               NaN  NaN
...                                                              ...  ...
131040                                                          43.0  NaN
131043                                                           NaN  NaN
131045                                                           NaN  NaN
131048                                                          40.0  NaN
131049                                                           NaN  NaN

Vital                                             heartrate          mbp       \
Time of Measure (First Day or First Hour of Stay)       day   hour   day hour
patient_id
1                                                       NaN  102.0   NaN  NaN
6                                                      72.0   78.0   NaN  NaN
8                                                      72.0    NaN   NaN  NaN
9                                                       NaN    NaN   NaN  NaN
10                                                      NaN    NaN   NaN  NaN
...                                                     ...    ...   ...  ...
131040                                                  NaN    NaN   NaN  NaN
131043                                                  NaN    NaN   NaN  NaN
131045                                                  NaN  123.0   NaN  NaN
131048                                                  NaN    NaN   NaN  NaN
131049                                                  NaN    NaN  69.0  NaN

Vital                                             mbp_noninvasive        \
Time of Measure (First Day or First Hour of Stay)             day  hour
patient_id
1                                                             NaN   NaN
6                                                             NaN   NaN
8                                                             NaN   NaN
9                                                             NaN  68.0
10                                                            NaN   NaN
...                                                           ...   ...
131040                                                        NaN   NaN
131043                                                        NaN  62.0
131045                                                        NaN   NaN
131048                                                       51.0   NaN
131049                                                        NaN   NaN

Vital                                             resprate       spo2       \
Time of Measure (First Day or First Hour of Stay)      day  hour  day hour
patient_id
1                                                      7.0   NaN  NaN  NaN
6                                                      NaN   NaN  NaN  NaN
8                                                      NaN   NaN  NaN  NaN
9                                                      NaN   NaN  NaN  NaN
10                                                     NaN   NaN  NaN  NaN
...                                                    ...   ...  ...  ...
131040                                                 NaN   NaN  NaN  NaN
131043                                                17.0  18.0  NaN  NaN
131045                                                 NaN   NaN  NaN  NaN
131048                                                 NaN   NaN  NaN  NaN
131049                                                 NaN   NaN  NaN  NaN

Vital                                             sysbp       \
Time of Measure (First Day or First Hour of Stay)   day hour
patient_id
1                                                   NaN  NaN
6                                                   NaN  NaN
8                                                   NaN  NaN
9                                                   NaN  NaN
10                                                 90.0  NaN
...                                                 ...  ...
131040                                              NaN  NaN
131043                                              NaN  NaN
131045                                              NaN  NaN
131048                                              NaN  NaN
131049                                              NaN  NaN

Vital                                             sysbp_noninvasive       \
Time of Measure (First Day or First Hour of Stay)               day hour
patient_id
1                                                              73.0  NaN
6                                                               NaN  NaN
8                                                              81.0  NaN
9                                                               NaN  NaN
10                                                              NaN  NaN
...                                                             ...  ...
131040                                                          NaN  NaN
131043                                                          NaN  NaN
131045                                                          NaN  NaN
131048                                                         90.0  NaN
131049                                                          NaN  NaN

Vital                                              temp
Time of Measure (First Day or First Hour of Stay)   day hour
patient_id
1                                                   NaN  NaN
6                                                   NaN  NaN
8                                                   NaN  NaN
9                                                  36.2  NaN
10                                                  NaN  NaN
...                                                 ...  ...
131040                                              NaN  NaN
131043                                              NaN  NaN
131045                                              NaN  NaN
131048                                              NaN  NaN
131049                                              NaN  NaN

[55561 rows x 20 columns]

In [67]:
# Pivoting the vitals dataframe using both 'Min Value' and 'Max Value'
vitals_pivot = vitals.pivot_table(
    values=['Min Value', 'Max Value'],
    index='patient_id',
    columns=['Vital', 'Time of Measure (First Day or First Hour of Stay)']
)

# Resetting the index to make patient_id a column
vitals_pivot.reset_index(inplace=True)

# Optional: Flattening the columns to get rid of the MultiIndex
vitals_pivot.columns = ['_'.join(str(col).strip() for col in col_tuple) for col_tuple in vitals_pivot.columns]

In [68]:
vitals_pivot

,patient_id__,Max Value_diasbp_day,Max Value_diasbp_hour,Max Value_diasbp_noninvasive_day,Max Value_diasbp_noninvasive_hour,Max Value_heartrate_day,Max Value_heartrate_hour,Max Value_mbp_day,Max Value_mbp_hour,Max Value_mbp_noninvasive_day,...,Min Value_resprate_day,Min Value_resprate_hour,Min Value_spo2_day,Min Value_spo2_hour,Min Value_sysbp_day,Min Value_sysbp_hour,Min Value_sysbp_noninvasive_day,Min Value_sysbp_noninvasive_hour,Min Value_temp_day,Min Value_temp_hour
0,1,NaN,NaN,NaN,NaN,NaN,136.0,NaN,NaN,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN
1,6,NaN,NaN,62.0,NaN,106.0,82.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN
3,9,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.2,NaN
4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55556,131040,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55557,131043,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55558,131045,NaN,NaN,NaN,NaN,NaN,145.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55559,131048,NaN,NaN,77.0,NaN,NaN,NaN,NaN,NaN,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN
55560,131049,61.0,NaN,NaN,NaN,NaN,NaN,81.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Pivoting the vitals dataframe
vitals_pivot = vitals.pivot_table(values='Min Value', index='patient_id', columns=['Vital', 'Time of Measure (First Day or First Hour of Stay)'])

# Resetting the index to make patient_id a column
vitals_pivot.reset_index(inplace=True)

In [64]:
vitals_pivot

Vital                                             patient_id diasbp       \
Time of Measure (First Day or First Hour of Stay)               day hour
0                                                          1    NaN  NaN
1                                                          6    NaN  NaN
2                                                          8    NaN  NaN
3                                                          9    NaN  NaN
4                                                         10    NaN  NaN
...                                                      ...    ...  ...
55556                                                 131040    NaN  NaN
55557                                                 131043   43.0  NaN
55558                                                 131045    NaN  NaN
55559                                                 131048    NaN  NaN
55560                                                 131049   48.0  NaN

Vital                                             diasbp_noninvasive       \
Time of Measure (First Day or First Hour of Stay)                day hour
0                                                                NaN  NaN
1                                                               54.0  NaN
2                                                                NaN  NaN
3                                                               50.0  NaN
4                                                                NaN  NaN
...                                                              ...  ...
55556                                                           43.0  NaN
55557                                                            NaN  NaN
55558                                                            NaN  NaN
55559                                                           40.0  NaN
55560                                                            NaN  NaN

Vital                                             heartrate          mbp       \
Time of Measure (First Day or First Hour of Stay)       day   hour   day hour
0                                                       NaN  102.0   NaN  NaN
1                                                      72.0   78.0   NaN  NaN
2                                                      72.0    NaN   NaN  NaN
3                                                       NaN    NaN   NaN  NaN
4                                                       NaN    NaN   NaN  NaN
...                                                     ...    ...   ...  ...
55556                                                   NaN    NaN   NaN  NaN
55557                                                   NaN    NaN   NaN  NaN
55558                                                   NaN  123.0   NaN  NaN
55559                                                   NaN    NaN   NaN  NaN
55560                                                   NaN    NaN  69.0  NaN

Vital                                             mbp_noninvasive  ...  \
Time of Measure (First Day or First Hour of Stay)             day  ...
0                                                             NaN  ...
1                                                             NaN  ...
2                                                             NaN  ...
3                                                             NaN  ...
4                                                             NaN  ...
...                                                           ...  ...
55556                                                         NaN  ...
55557                                                         NaN  ...
55558                                                         NaN  ...
55559                                                        51.0  ...
55560                                                         NaN  ...

Vital                                             resprate       spo2       \
Time of Measure (First Day or First Hour of Stay)      day  hour  day hour
0                                                      7.0   NaN  NaN  NaN
1                                                      NaN   NaN  NaN  NaN
2                                                      NaN   NaN  NaN  NaN
3                                                      NaN   NaN  NaN  NaN
4                                                      NaN   NaN  NaN  NaN
...                                                    ...   ...  ...  ...
55556                                                  NaN   NaN  NaN  NaN
55557                                                 17.0  18.0  NaN  NaN
55558                                                  NaN   NaN  NaN  NaN
55559                                                  NaN   NaN  NaN  NaN
55560                                                  NaN   NaN  NaN  NaN

Vital                                             sysbp       \
Time of Measure (First Day or First Hour of Stay)   day hour
0                                                   NaN  NaN
1                                                   NaN  NaN
2                                                   NaN  NaN
3                                                   NaN  NaN
4                                                  90.0  NaN
...                                                 ...  ...
55556                                               NaN  NaN
55557                                               NaN  NaN
55558                                               NaN  NaN
55559                                               NaN  NaN
55560                                               NaN  NaN

Vital                                             sysbp_noninvasive       \
Time of Measure (First Day or First Hour of Stay)               day hour
0                                                              73.0  NaN
1                                                               NaN  NaN
2                                                              81.0  NaN
3                                                               NaN  NaN
4                                                               NaN  NaN
...                                                             ...  ...
55556                                                           NaN  NaN
55557                                                           NaN  NaN
55558                                                           NaN  NaN
55559                                                          90.0  NaN
55560                                                           NaN  NaN

Vital                                              temp
Time of Measure (First Day or First Hour of Stay)   day hour
0                                                   NaN  NaN
1                                                   NaN  NaN
2                                                   NaN  NaN
3                                                  36.2  NaN
4                                                   NaN  NaN
...                                                 ...  ...
55556                                               NaN  NaN
55557                                               NaN  NaN
55558                                               NaN  NaN
55559                                               NaN  NaN
55560                                               NaN  NaN

[55561 rows x 21 columns]

In [65]:
vitals_pivot.columns = ['_'.join(str(col).strip() for col in col_tuple) for col_tuple in vitals_pivot.columns]

In [66]:
vitals_pivot

,patient_id_,diasbp_day,diasbp_hour,diasbp_noninvasive_day,diasbp_noninvasive_hour,heartrate_day,heartrate_hour,mbp_day,mbp_hour,mbp_noninvasive_day,...,resprate_day,resprate_hour,spo2_day,spo2_hour,sysbp_day,sysbp_hour,sysbp_noninvasive_day,sysbp_noninvasive_hour,temp_day,temp_hour
0,1,NaN,NaN,NaN,NaN,NaN,102.0,NaN,NaN,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN
1,6,NaN,NaN,54.0,NaN,72.0,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN
3,9,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.2,NaN
4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55556,131040,NaN,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55557,131043,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55558,131045,NaN,NaN,NaN,NaN,NaN,123.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55559,131048,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN
55560,131049,48.0,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN